@model IEnumerable<Entity.Models.book>

@{
    ViewData["Title"] = "Index";
}

<h1>cataloge</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        @item.title
                    </div>
                    <div class="card-body">
                        <img src="~/images/@item.imgfile" height="150" />
                    </div>
                    <div class="card-footer">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    </div>
                    <div class="card-footer">
                        <a asp-controller="orders" asp-action="buy" asp-route-id="@item.Id"> Buy</a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>

